<div class="well">
  <h3>{{title}}</h3>
  <p>{{body}}</p>
</div>
<div class="well">
  <a href="/posts" class="btn btn-primary">Back to posts</a>
  <a href="/posts/del/{{id}}" class="btn btn-danger del">Delete</a>
</div>
